.header{
    padding: 1rem 1.6rem;
    background-image: url("../assets/Header/cover.png");
    background-repeat: no-repeat;
    background-size: 100% 100% ;
    box-shadow: inset 0 0 0 10000px #0000006a;
} 

.header__title {
    font-size: 3rem;
    font-family: var(--secondaryfont);
    color: var(--primarytexcolor);
    font-weight: var(--sm);
}

.filtersBox {
    width: 90%;
    max-width: 60rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.8rem;
    margin: 0 auto;
    margin-top: 0.3rem;
    padding: 0.9rem 0rem;
    border-radius: 0.8rem;
    background-color: rgba(228, 228, 228, 0.9);
}      

.filtersBox__country {
    width: calc(90% + 0.8rem) ;

}

.filtersBox__input {
    width: 45%;
}

.filtersBox__btn {
    width: 6rem;
    height: 2rem;
    border: none ;
    border-radius: 0.6rem;
    color: var(--primarytexcolor);
    background-color: #333333E0;
    margin-left: 73%;
}

.header__subtitle {
    display: none;
}

.header__filterDercription {
    display: none;
}

@media (min-width:1023px) {
    .header {
        padding: 4rem 4.5rem;
        background-size: 100% 140%;
    }
    
    .header__title {
        font-size: 9.6rem;
    }
    .filtersBox {
        max-width: none;
        flex-wrap: nowrap;
        margin-top: 4.7rem;
        padding: 0rem;
        background-color: transparent;
    }

    .filtersBox__country {
        width: 20.8rem;
        height: 3.4rem;
        background-color: rgba(255, 255, 255, 0.75);
    }

    .filtersBox__input {
        width: 20.8rem;
        height: 3.4rem;
        background-color: rgba(255, 255, 255, 0.75);
    }

    .filtersBox__btn {
        width: 10rem;
        height: 3.4rem;
        margin-left: 0rem;
    }

    .header__subtitle {
        display: block;
        margin-top: 2.6rem;
        font-size: 4.8rem;
        font-family: var(--thirdFont);
        color: var(--primarytexcolor);
        font-weight: var(--lg);   
    }

    .header__filterDercription {
        display: block;
        margin-top: 1.7rem;
        font-size: 2.4rem;
        font-family: var(--primaryFont);
        color: var(--primarytexcolor);
        font-weight: var(--sm);
    }
}