.header{
    padding: 1rem 1.6rem;
    background-image: url("../assets/Header/cover.png");
    background-repeat: no-repeat;
    background-size: 100% 100% ;
} 

.header__title {
    font-family: var(--secondaryfont);
    color: var(--primarytexcolor);
    font-weight: var(--sm);
}

.filtersBox {
    width: 90%;
    max-width: 65rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.8rem;
    padding: 0.9rem 0rem;
    border-radius: 0.8rem;
    background-color: rgba(228, 228, 228, 0.9);
}      

.filtersBox__country {
    width: calc(90% + 0.8rem) ;

}

.filtersBox__input {
    width: 45%;
}

.filtersBox__btn {
    width: 6rem;
    height: 2rem;
    border-radius: 0.6rem;
    color: var(--primarytexcolor);
    background-color: #333333E0;
    border: none ;
    margin-left: 73%;
}
